/*Estilos ventanas de operaciones*/

.container-operation h1 {
    margin-top: 30px;
}

.container-operation .money-transfer-form {
    margin-top: 50px;
}

.container-operation table{
    margin-top: 50px;
    border-radius: 5px;
}

.container-operation .client-info{
    margin-top: 50px;
}

.money-transfer-form form .form-group-default{
    background: linear-gradient(90deg, #2F4353 0%,#2F4353 50%, #D2CCC4 100%);
    text-align: left;
}

.money-transfer-form form .form-group-default .form-control{
    width: 50%;
    display: inline-block;
}

.money-transfer-form form .form-group-default .form-control option {
    color:black;
}

.money-transfer-form form .form-group-default .form-extra-data{
    color: white;
}

.navbar-admin{
    background-color: #070d13;
    color: #e4e4e4;
}

.navbar-admin .nav-link {
    color:#e4e4e4 !important;
    cursor:pointer;
}

.navbar-admin .nav-link.nav-link-selected {
    font-weight: bold;
    text-decoration: underline;
}

.money-transfer-form form .btn {
    margin-bottom: 40px;
}

.money-transfer-form .form-extra-data {
    text-align: left;
    color: white;
    display: block;
}

.money-transfer-form form .form-group .amount-currency-select select{
    opacity: 1 !important;
    cursor: default;
}

.balance-box{
    margin-top: 40px;
    margin-bottom: 20px;
    height: 40px;
    width: 300px;
    float: right;
    text-align: center;
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%)
}

.balance-box p{
    line-height: 40px;
    color:white;
}

.thead-dark{ 
    background: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
}

.table .thead-dark th{
    background-color: transparent;
    border-color: transparent;
}